.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 4px solid blue;
  font-size: 30px;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  background-color: lightblue;
  gap: 8px;
  margin: 0 auto;
}
