.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  gap: 15px;
  border: solid 4px yellow;
  border-radius: 12px;
  width: 300px;
  background-color: blanchedalmond;
}
.formWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.fieldLabel {
  display: flex;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  color: blue;
}
.field {
  padding-left: 12px;
  width: 300px;
  height: 30px;
  border: solid 2px blue;
  border-radius: 8px;
  background-color: lightblue;
  color: blanchedalmond;
}
input[type='text'],
input[type='tel'] {
  font-weight: bold;
  color: blanchedalmond;
  outline: none;
}
input[type='text']:focus,
input[type='tel']:focus {
  color: blanchedalmond;
}
.formBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 150px;
  height: 40px;
  border: solid 2px blue;
  border-radius: 8px;
  background-color: lightblue;
  color: blue;
  transition: background-color 0.3s, color 0.3s;
}
.formBtn:hover,
.formBtn:focus,
.formBtn:active {
  background-color: darkblue;
  color: blanchedalmond;
}
