.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: blue;
  font-size: 30px;
}

.link.active,
.link:hover,
.link:focus {
  color: blanchedalmond;
}
